
{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Gestion relation client</h1>
    <p class="lead">Bienvenue</p>
  </div>
</div>
 
{% endblock %}